BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
LineEnding: LF
BreakConstructorInitializers: BeforeComma 
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: true
BinPackParameters: false
ColumnLimit: 0
IndentWrappedFunctionNames: false
ContinuationIndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left
AllowShortLambdasOnASingleLine: false
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: true
PackConstructorInitializers: NextLineOnly
ReferenceAlignment: Left
SpacesInParentheses: false
SeparateDefinitionBlocks: Always
AlignArrayOfStructures: Right